body {
    margin: 0;
    background-color: #f5eef5;
    height: 100%;
    width: 100%;
    padding: 0;
}
html{
    height: 100%;
}

section {
    text-decoration: none;
    color: #d625d6;
    margin: 0px 0px;
}
.box{
    height: 300px;
    width: 100%;

}
h1{
    text-align: center;
    color: #504950;
    text-shadow: #d625d6;
    font-style: oblique;
}
  

#id{
    text-align: right;
    margin: 0%;
    background-image: url(images/packgraung.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
   background-size:cover;
   background-position: center;
}


ul li{
    
    display: inline-block;
    color: aliceblue;
    padding-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
ul li a {
    text-align: right;
    font-weight: bold; 
    text-decoration: none;
    color: rgb(228, 228, 150);
    text-shadow: 2px 2px 1px rgb(209, 183, 183);
    text-decoration: none; 

}


.coffetim{
    text-align: center;
    color: rgb(245, 245, 151);
    text-shadow: 2px 2px 1px rgb(209, 183, 183);
    text-decoration: none;
    font-size: 40px ;
    font-style: oblique;
    

}






.razan{
    widows: 100%;
    height: 100%;
    text-align: center;
    margin: 0%;
    color: black;
    background-color: rgb(247, 233, 245);
    

}

.bild{
    height: 200px;
    width: 200px;
    border-radius: 50%;



}
.mahho{
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0%;
    color: black;
    background-color: beige;
    
    
}
.all{
    font-family: monospace;
    font-size: 22px;
    color: rgb(122, 122, 69);
    text-shadow: 2px 2px 1px rgb(209, 183, 183);

}
.img2{
    padding:4px;
    height: 200px;
    width: 250px;
 

    
}
#enjoy{
    font-size: 40px;
    color: rgb(77, 8, 59);
    text-shadow: #504950;
    font-style: oblique;
}

.contact{
    text-align: center;
    margin: 10px;
    color: rgb(26, 8, 22);
    text-shadow: #504950;
    
}
.coffe{
    color: rgb(56, 4, 58);

}
#cc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.instagram{
    text-align: center;
background-color: #ebdbeb;
    
}

.inp{
    color: antiquewhite;
    padding-top: 22px;
}

.map{
padding: 6px;
height: 300px;
width: 300px;


}
.FRF{
    width: 20px;
    height: 20px;
    text-shadow: #504950;
    
}
.buttton, .send{
    width: 300px;

}
footer{
    text-align: center;
    background: #5c3b5c;

}
